/* Load custom font */
@import url("https://fonts.googleapis.com/css?family=Quicksand");

#spoofy {
  position: absolute;
  top: 1em;
  left: 1em;
  transition: ease all 1s;
  z-index: 2;
  font-family: "Quicksand", sans-serif;
}

#track-artwork {
  width: 10em;
  height: 10em;
  overflow: hidden;
  position: relative;
}

#track-artwork img {
  display: block;
  width: 100%;
  height: 100%;
}

.track-details {
  height: 3em;
  width: 10em;
  display: block;
  background: rgb(20, 20, 20);
  overflow: hidden;
  position: relative;
}
.track-details:before,
.track-details:after {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 2em;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.track-details:after {
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  left: auto;
  right: 0;
}

.track-details-inner {
  width: 100%;
  overflow: hidden;
  padding: 1em;
  height: 1em;
  box-sizing: content-box;
}

#track-name,
#track-artist {
  display: none;
}

#track-info-repeater {
  display: inline-block;
  white-space: nowrap;
  box-sizing: content-box;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker;
  animation-duration: 120s;
  color: white;
}

@keyframes ticker {
  0% {
    transform: translateX(-26.2%);
  }
  100% {
    transform: translateX(-76.4%);
  }
}
