/* Load custom font */
@import url("https://fonts.googleapis.com/css?family=Nunito");

body {
  overflow: hidden;
  font-family: "Nunito", sans-serif;
}

#spoofy {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: -1em;
  padding: 0.75em 6em;
  transition: ease all 1s;
  z-index: 2;
}

#track-artwork {
  float: left;
  width: 7em;
  height: 7em;
  margin-bottom: -3.5em;
  box-shadow: 0 0 1em 0px rgba(0, 0, 0, 0.5);
  border: solid 2px rgba(0, 0, 0, 0.75);
  border-radius: 0.125em;
  overflow: hidden;
  background: rgb(0, 0, 0);
  border-radius: 50%;
  animation: discSpin linear 30s infinite;
  position: relative;
}

#track-artwork:before {
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  top: 50%;
  left: 50%;
  margin: -0.75em;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.75);
  content: "";
  border-radius: 50%;
}

#track-artwork:after {
  position: absolute;
  width: 1em;
  height: 1em;
  top: 50%;
  left: 50%;
  margin: -0.5em;
  background: rgba(0, 0, 0, 0.75);
  content: "";
  border-radius: 50%;
}

#track-artwork img {
  display: block;
  width: 100%;
  height: 100%;
}

@keyframes discSpin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.track-details {
  width: 25em;
  height: 4em;
  display: table;
}

.track-details-inner {
  display: table-cell;
  vertical-align: middle;
  padding: 0 1em;
}

#track-name {
  text-align: left;
  font-size: 1.25em;
  font-weight: 500;
  margin-bottom: 0.25em;
  line-height: 1;
  color: rgb(255, 255, 255);
  text-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.25);
  letter-spacing: 1px;
}

#track-artist {
  text-align: left;
  font-size: 0.875em;
  font-weight: 500;
  line-height: 1;
  color: rgb(255, 255, 255);
  text-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.25);
  opacity: 0.75;
}

#track-info-repeater {
  display: none;
}
