*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Load custom font */
@import url("https://fonts.googleapis.com/css?family=Nunito");

/* Some basic stuff to help get you started */
html,
body {
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  overflow: hidden;
}

#spoofy {
  margin: 2em;
}

#track-artwork {
}

#track-artwork img {
}

#track-artwork-for-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  filter: blur(10px) brightness(50%);
  top: 0;
  left: 0;
  z-index: -1;
}

#track-artwork-for-background img {
  width: 120vw;
  height: 120vh;
  margin: -10vh 0 0 -10vw;
  background-position: 0 0;
  filter: blur(10px), brightness(10%);
}

.track-details {
}

.track-details-inner {
}

#track-name {
  padding: 1em 0;
  font-size: 1.5em;
}

#track-artist {
  font-size: 1.25em;
  opacity: 0.8;
}

#track-info-repeater {
  display: none;
}

#video-box {
  position: fixed;
  top: 2em;
  right: 2em;
  background: lightgoldenrodyellow;
  color: black;
  line-height: 1.25;
  padding: 2em;
  border-radius: 1em;
  width: 32em;
}
#video-box:after {
  content: "Currently using theme-custom.css. To use a different theme, open public/index.html and edit the stylesheet link.";
  font-size: 1.5em;
}
