/* Some basic jquery is used in the index file to fade and move the contents around between loads. These are some animation classes to help with that. */
.fade-out {
  opacity: 0 !important;
}

.move-up {
  transform: translateY(-0.5em);
}

.move-down {
  transform: translateY(0.5em);
}

.move-left {
  transform: translateX(-0.5em);
}

.move-right {
  transform: translateX(0.5em);
}

.scale-down {
  transform: scale(0.9);
}

.scale-up {
  transform: scale(1.1);
}
